<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Base Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
		#resume {
			width : 70%;
			margin: 0 auto;
            margin-top: 20px;
		}
		.info {
			width: 100%;
		}
		.medical_history {
			width: 100%
		}
		.bs-callout {
			-moz-border-bottom-colors: none;
			-moz-border-left-colors: none;
			-moz-border-right-colors: none;
			-moz-border-top-colors: none;
			border-color: #eee;
			border-image: none;
			border-radius: 3px;
			border-style: solid;
			border-width: 1px 1px 1px 5px;
			margin-bottom: 5px;
			padding: 20px;
		}
		.bs-callout:last-child {
			margin-bottom: 0px;
		}
		.bs-callout h4 {
			margin-bottom: 10px;
			margin-top: 0;
		}

		.bs-callout-danger {
			border-left-color: #d9534f;
		}

		.bs-callout-danger h4{
			color: #d9534f;
		}


    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Eye Cloud 眼底稽查云系统</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>管理员</strong>
                                    <span class="pull-right text-muted">
                                        <em>昨天</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>管理员</strong>
                                    <span class="pull-right text-muted">
                                        <em>昨天</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> 退出登录</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li class="active">
                        <a href="dashboard.html"><i class="fa fa-fw fa-dashboard"></i> 主页 </a>
                        </li>
                        <li>
                            <a href="diagnose.html"><i class="fa fa-fw fa-bar-chart-o"></i> 诊断 </a>
                        </li>
                        <li>
                            <a href="search_history.html"><i class="fa fa-fw fa-table"></i> 诊断历史 </a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
            </div>
            <div class="row" style="margin-top:20px">
                    <div class="col-lg-12">
                       
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">个人信息</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-bar-chart-o"></i> 诊断
                            </li>
                        </ol>
                    </div>
            </div>
                <!-- /.row -->

                <!-- Flot Charts -->
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">诊断对象信息</a></li>
                            <li><a data-toggle="tab" href="#menu1">眼部图片</a></li>
                            <li><a data-toggle="tab" href="#menu2">填写诊断报告</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div id="resume">
									<div></div>
									<div class="info">
										<div style="background-color:yellow">
											<ul class="list-group">
												<li class="list-group-item"><i class="fa fa-age"></i>年龄 : 19</li>
												<li class="list-group-item">性别 : 男 <i class="fa fa-male"></i></li>               
											</ul>
										</div>
									</div>
									<div></div>
									<div class="medical_history">
										<div class="bs-callout bs-callout-danger">
											<h4>病史</h4>
											<p>
											Lorem ipsum dolor sit amet, ea vel prima adhuc, scripta liberavisse ea quo, te vel vidit mollis complectitur. Quis verear mel ne. Munere vituperata vis cu,te pri duis timeam scaevola, nam postea diceret ne. Cum ex quod aliquip mediocritatem, mei habemus persecuti mediocritatem ei.
											</p>
											<p>
											Odio recteque expetenda eum ea, cu atqui maiestatis cum. Te eum nibh laoreet, case nostrud nusquam an vis. 
											Clita debitis apeirian et sit, integre iudicabit elaboraret duo ex. Nihil causae adipisci id eos.
											</p>
										</div>
									</div>
									<div class="eye_pic">
									</div>
									<div class="first_diagnose">
									</div>
									<div class="second_diagnose">
									</div>
							     </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="photo_viewer" style="text-align:center">
                                    <div class="snapt" style="margin : 0 auto; margin-top : 10px">
                                        <ul class="list-inline">
                                            <li>
                                                <img src="images/one_small.jpg" style="width:100px; height:80px;" big="one_big.jpg" index = 0 />
                                            </li>
                                            <li>
                                                <img src="images/two_small.jpg" style="width:100px; height:80px;" big="two_big.jpg" index = 1 />
                                            </li>
                                            <li>
                                                <img src="images/three_small.jpg" style="width:100px; height:80px;" big="three_big.jpg" index = 2 />
                                            </li>
                                            <li>
                                                <img src="images/four_small.jpg" style="width:100px; height: 80px;" big="four_big.jpg" index = 3 />
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="big_picture">
                                            <img>
                                    </div>
                                    <div class="" style="margin-top:30px">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-default prev-btn">上一张</button>
                                            <button type="button" class="btn btn-default raw-picture">查看原图</button>
                                            <button type="reset" class="btn btn-default next-btn">下一张</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <form action="">
                                <div role="form">
                                    <div class="form-group">
                                        <br/>
                                        <label>诊断结果</label>
                                        <textarea class="form-control" rows="10"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default">提交初诊</button>
                                        <button type="reset" class="btn btn-default">重置报告</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
        
                            <div class="modal-body">
                                <img src="images/two_big.jpg">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
      
                    </div>
                </div>
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../bower_components/raphael/raphael-min.js"></script>
    <script src="../bower_components/morrisjs/morris.min.js"></script>
    
    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>
    <script>
        var prev;
        var actived_index = 0;
        // check the btn's avaiable
        function check_btn_avai() {
            if (actived_index == 0) {
                $(".prev-btn").attr("disabled", "disabled");
                $(".next-btn").removeAttr("disabled");
            } else if (actived_index == 3) {
                $(".next-btn").attr("disabled", "disabled");
                $(".prev-btn").removeAttr("disabled");
            } else {
                $(".prev-btn").removeAttr("disabled");
                $(".next-btn").removeAttr("disabled");
            }
        }
        function show_big_pic(pic) {
            $(".photo_viewer .big_picture img").attr("src", "images/" + pic);
            $(".photo_viewer .big_picture img").attr("width", "600px");
            $(".photo_viewer .big_picture img").attr("height", "600px");
        }
        function activeImg(index) {
            console.log("active index = " + index);
            $this = $(".photo_viewer .snapt img:eq(" + index + ")");
            var big_one = $this.attr("big");
            $this.addClass("img_actived");
            if (prev != null) prev.removeClass("img_actived");
            prev = $this;
            show_big_pic(big_one);
            check_btn_avai();
        }
        $(".photo_viewer .snapt img").click(function(){
            var big_one = $(this).attr("big");
            actived_index = parseInt($(this).attr("index"));
            $(this).addClass("img_actived");
            if (prev != null) prev.removeClass("img_actived");
            prev = $(this);
            show_big_pic(big_one);
            check_btn_avai();
        });
        $(".next-btn").click(function(){
            actived_index += 1;
            activeImg(actived_index);
            check_btn_avai();
        });
        $(".prev-btn").click(function(){
            actived_index -= 1;
            activeImg(actived_index);
            check_btn_avai();
        });
        $(".raw-picture").click(function(){
            $this = $(".photo_viewer .snapt img:eq(" + actived_index + ")");
            var big_one = $this.attr("big");
            $(".modal-body img").attr("src", "images/" + big_one);
            $("#myModal").modal();
        });
        
        $(document).ready(function(){
            console.log("start");
            actived_index = $(".photo_viewer .snapt img:first").index();
            console.log(actived_index);
            activeImg(actived_index);
            $(".prev-btn").attr("disabled", "disabled"); 
        });
    </script>

</body>

</html>
